:root {
    --btn-background: #F9C06A;
    --btn-paddings: 14px 16px;
    --btn-color: #1E1E1E;
    --btn-radius: 24px;
    --line-height: 34px;
    --color-ligt: white;
    --color-dark: #707070; 
    --color-coffee: #603809;
    --font-famyily-logo: "Clicker Script", cursive;
    --font-text: 20px;

}

body {
    font-family: "Playfair Display", serif;
 
    
}
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {

    border: 1px solid yellow;
    max-width: 1180px;
    margin: 0 auto;
}

.btn {
        color: var(--btn-color);
        background-color: var(--btn-background);
        padding: var(--btn-paddings);
        border-radius: var(--btn-radius);
        display: inline-block;
        transition: 0.3s;
       
}

.dark-heading {
    color: var(--color-coffee);
    font-size: 54px;
}
   header {
    background-image: url(img/imgcoffi.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}


header .logo {

    font-family: var(--font-famyily-logo);
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    border: 1px solid red;
    margin-right: 245px;
   
    }


header a{
    color: var(--color-ligt);
    text-decoration: none;
}

header nav {
    border: 1px solid red;
    font-size: 14px;
    font-weight: 600;
    
}

header ul {
    border: 1px solid red;
    display: inline-block;
    margin-right: 200px;
}

header ul li {
    display: inline-block;
    margin-right: 60px;
}

header ul a,
.signin-btn {
    transition: 0.3s;
}
header ul a:hover,
.signin-btn:hover {
    opacity: 0.8;
}

header ul li:last-child {
    margin-right: 0px;
}
header .login {
    border: 1px solid red;
    display: inline-block;
}

.hero {
      border: 1px solid red;
}

.signin-btn {
    text-decoration: underline;
}

.signup-btn {
    margin-left: 35px;
  
}

/*.signup-btn {
    color: var(--btn-color);
    background-color: var(--btn-background);
    border-radius: var(--btn-radius);
    padding: 14px 27px 15px;
    transition: 0.3s;
}*/

.btn-hover:hover {
    box-shadow: 0 0 10px 2px #666;
}

.hero {
    width: 585px;
    padding-top: 116px;
    padding-bottom: 95px;
}

.hero .label {
    font-size: 22px;
    color: var(--color-ligt);
}


.hero .description {
         color: var(--color-ligt);
         font-size: var(--font-text);

}

.hero .title {
    color: var(--color-ligt);
    font-family: var(--font-famyily-logo);
    font-size: 220px;
    font-weight: normal;
}

.hero .description {
    line-height : var(--line-height) ;
}
.order-btn {
   
    margin-top: 20px;

}

.advantages {
    padding-bottom: 130px;
    padding-top: 80px;
}

.advantages p {
    margin: 29px 0;
    color: var(--color-dark);
    font-size: var(--font-text);
    line-height: var(--line-height);
}
.advantages .description {
    width: 585px;
    display: inline-block;
    margin-right: 80px;
    vertical-align: 60px;
}





